html, div, nav, h1,h2,h3,h4, h5, h6, a, input{
	font-family: 'Open Sans', sans-serif !important;
	
}

.medium {
	font-size:1.2em;
}
.page-content {
	width: 100%;
}
.page-content > .wrap > .home_who > h1,h2,h3,h4, h5, h6 {
	color: white;
}
.page-content > .wrap > h1,h2,h3,h4, h5, h6 {
	color: #ffffff;
}
footer{
	padding: 15px;
	background: #272822;
	color: #fff; 
	z-index: 99999;
}

header{
	border-bottom: solid 3px #04B329;
	padding: 10px 0 10px 0;
	box-shadow: 0 -24px 8px 27px rgba(0,0,0,0.3);
	background: #333333 !important;
}
a{
	color: #04B329;
}
a:hover{
	color: #2ECC71;
}
ul{
	list-style:none;
}
.copyright{
	text-align: center;
	padding: 2%;
}

.home_inventto, .home_who,.home_what{
	width: 100% !important;
	text-align: center;
	padding: 2%;
}
#home_inventto, .home_who,.home_what h4{
	max-width: 1400px;
	
}
.home_who{
	width: 100%;
	background:#92D13D;
	color: #ffffff !important;
}
.home_inventto{
	width: 100%;
	background: url("../img/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding:12%;
}
.home_what >h1, .home_what > h4{
	color:#333333;
}
#welcome{
	font-weight: bold;

}
.icones{
	width: 15px;
	height: auto;
}
.large{
	font-size: 50px;
	line-height: 50px;

}
.buttonDream{
	
	border:2px solid white;
	background: transparent;
	border-radius: 3px;
}
.buttonDream:hover{
	background-color: #92D13D;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;

}
.homeIcon{
	width: 100%;
	text-align: center;
}
.bgverde{
	background: #92D13D;
	width: 100%;	
	color: #ffffff !important;
}
.bgverdenew{
	background: #1E824C;
	color: #ffffff !important;
	width: 100%;
}
.bgbranco{	
	background: #ffffff;
	width: 100%;
}
.bgbranco, .bgverde,.bgverdenew{
	padding: 5%;
	text-align: center;
	width: 100%;
}
.bgbranco h1, .bgbranco h4, .bgbranco h3,.bgbranco h5{
	color: #000000;
}
.bgverdenew a{
	color: #222;
}
.bgverdenew h1, .bgverdenew h4, .bgverdenew h3,.bgverdenew h5{
	color: #ffffff;
}
.buttonKnow{
	background:#1E824C;
}
.buttonKnow:hover, input[type='submit']:hover{
	background-color: #26A65B;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}
input[type='submit']{
	background:#1E824C;
	padding: 2%;
	width: 200px;
	color: #ffffff;
	border:1px solid #26A65B !important;
}

input{
	padding: 2%;
}
form{
	text-align: initial !important;
}
.equipe{
	width: 80%;
	margin: auto;
	text-align: center;
}
.equipe ul{
	width: 100%;
	clear: both;
	
}
.equipe ul>li{
	width: 200px;
	margin: 0 1% 20px 1%;
	position: relative;
	display: inline-block;
	color: #333;
}
.equipe ul>li img, .equipe ul>li a img {
	width: 350px;
	height: auto;
	background: #fff;
	border-radius: 50%;
	border: 3px solid #92D13D;
}
.equipe ul>li img:hover{
	opacity: 0.6;
}
.description{
	width: 50%;
	text-align: center;
}
.descEmpresa{
	width: 100%;
	background: url("../img/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5%;	
	text-align: center;

}
.txtdesc{
	text-align: left;
	max-width: 400px;
	margin-left: 25%;
	padding: 3%;
}
.descClient{
	max-width: 60%;
	text-align: justify;
	margin: 0 auto;
}
.bgVerde ul{
	margin-top: 10px;
}
.descInventto, .descInventtoGreen{
	max-width: 40%;
	text-align: justify;
	margin: 0 auto;
}
.descInventtoGreen{
	color: #ffffff!important;
}
.descinventto{
	color: #222222!important;
}
.mailtext{
	text-align: center;
}
.posts{
	margin: 0 auto;
	text-align: justify;
	max-width: 1000px;
	font-size: 20px;
	padding: 2%;

}
.posts h3{
	text-align: center;
	color: #333;
	margin-top: 30px;
}
.post-content{
	margin: 0 auto;
	text-align: justify;
	max-width: 1000px;
	font-size: 20px;
	padding: 2%;

}
.post-content ul li{
	list-style-type: square!important;
	color: #333;
}
p.opinion.ng-binding{
	position: relative;
	width: 180px;
	height: auto;
	padding: 2%;
	text-align: center;
	color: #ffffff;
	background: #26A65B;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
p.opinion.ng-binding:after {
	content: "";
	position: absolute;
	top: -9px;
	left: 80px;
	border-style: solid;
	border-width: 0px 9px 9px;
	border-color: #26A65B transparent;
	display: block;
	width: 0;
	z-index: 1;
}

p.opinion.ng-binding:after:hover, p.opinion.ng-binding:hover{
	-webkit-transition: width 500ms; /* For Safari 3.1 to 6.0 */
	transition: width 500ms;
}
pre{
	border-radius: 5px;
	background: #EEEEEE;
	padding: 1%;
	margin-left: 2%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre > code{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
	color: #333!important;
	font-weight: normal !important;
	font-size: 15px;
}
code{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
	color: #333!important;	
}
.social ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.social ul li { 
	display: inline; 
}
.social ul li span {
	padding: 2%;
	display: inline-block;
	
	/* visual do link */
	text-decoration: none;
}
.author{
	background: #333;
	color: #ffffff;
	text-align: center;
	padding:1%;
}
.image img{
	border-radius: 50%;
}
