html, div, nav, h1,h2,h3,h4, a{
	font-family: 'Open Sans', sans-serif !important;
	
}
body{
	list-style:none;
}
footer{
	padding: 15px;
	background: #272822;
	color: #fff; 
  	z-index: 99999;
}

header{
	border-bottom: solid 3px #04B329;
	padding: 10px 0 10px 0;
	box-shadow: 0 -24px 8px 27px rgba(0,0,0,0.3);
	background: #333333 !important;
}
a{
	color: #04B329;
}
a:hover{
	color: #2ECC71;
}
ul{
	list-style:none;
}
.copyright{
	text-align: center;
	padding: 2%;
}

#home_inventto, .home_who,.home_what{
	width: 100%;
	text-align: center;
	padding: 2%;
}
.home_who{
	background:#2ECC71;
	color: #ffffff !important;
}
#home_inventto{
	width: 100%;
	height: 400px;
	background: url("../img/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.home_what >h1, .home_what > h3{
	color:#333333;
}
#welcome{
	font-weight: bold;

}
.icones{
	width: 15px;
	height: auto;
}
.large{
	font-size: 50px;
	line-height: 50px;

}