body{
	margin-top: 45px;
	list-style:none;
}
footer{
	padding: 15px;
	background: #272822;
	color: #fff; 
  	z-index: 99999;

}
header{
	border-bottom: solid 3px #04B329;
}
ul{
	list-style:none;
}
.copyright{
	text-align: center;
	padding: 1%;
}
.home_carousel{
	width: 100vh;
	height: 300px;
	padding: 2%;
}