---
  layout: slides
---

<div class="reveal" ng-controller="Slides">
  <div class="slides">
    <section>
      <h1>[[ empresa.nome ]]</h1>
      <h3>[[ empresa.frase_curta ]] </h3>
      <small> <a href="http://invent.to/[[jonatas.name]]">[[ jonatas.name ]]</a>(<a href="http://twitter.com/[[jonatas.social.twitter]]">@[[jonatas.social.twitter]]</a>)</small>
        <p>
          <a href="http://[[jonatas.site]]">[[jonatas.site]]</a>
        </p>
        <p><a href="http://invent.to">http://invent.to</a></p>
    </section>
    <section>
      <h2>Agenda</h2>
      <ul>
        <li>Quem somos nós: 1 min</li>
        <li>No que acreditamos: 3 min</li>
        <li>O que queremos: 2 min</li>
        <li>Como estamos fazendo: 3 min</li>
        <li>Nossa iniciativas: 2 min</li>
        <li>Nossos invventos: 1 min</li>
      </ul>
    </section>
    <section>
      <section>
        <h1>Quem somos nós?</h1>
        <p>[[empresa.quem_somos]]</p>
      </section>
      <section>
        <h1>Missão</h1>
        <p>[[empresa.missao]]</p>
      </section>
      <section>
        <h1>Visão</h1>
        <p>[[empresa.visao]]</p>
      </section>
    </section>
    <section>
      <section>
        <h1>No que acreditamos</h1>
      </section>
      <section>
        <h1>[[acreditamos.open_source.titulo]]</h1>
        <div data-markdown> [[acreditamos.open_source.slides]] </div>
        <aside class="notes">[[acreditamos.open_source.porque]]</aside>
      </section>
      <section>
        <h1>[[ acreditamos.open_proccess.titulo ]]</h1>
        <div data-markdown> [[acreditamos.open_proccess.slides]] </div>
        <aside class="notes">[[ acreditamos.open_proccess.porque ]] </aside>
      </section>
      <section>
        <h1>[[ acreditamos.rotatividade_de_demandas.titulo ]]</h1>
        <div data-markdown> [[acreditamos.rotatividade_de_demandas.slides]] </div>
        <aside class="notes">[[ acreditamos.rotatividade_de_demandas.porque ]] </aside>
      </section>
      <section>
        <h1>[[acreditamos.open_knowledge.titulo]]</h1>
        <div data-markdown>[[acreditamos.open_knowledge.slides]] </div>
        <aside class="notes"> [[acreditamos.open_knowledge.porque]] </aside>
      </section>
      <section>
        <h1>[[acreditamos.modelo_pre_pago_por_hora.titulo]]</h1>
        <div>[[acreditamos.modelo_pre_pago_por_hora.slides]]</div>
        <aside class="notes">[[acreditamos.modelo_pre_pago_por_hora.porque]]</aside>
      </section>
      <section>
        <h1>[[acreditamos.escritorio_aberto.titulo]]</h1>
        <div data-markdown> [[acreditamos.escritorio_aberto.slides] </div>
        <aside class="notes">[[acreditamos.escritorio_aberto.porque]]</aside>
      </section>
      <section>
        <h1> [[acreditamos.nosso_bem_estar.titulo]] </h1>
        <div data-markdown> [[acreditamos.nosso_bem_estar.slides]] </div>
        <aside class="notes"> [[acreditamos.nosso_bem_estar.porque]] </aside>
      </section>
      <section>
        <h1> [[acreditamos.que_o_inventto_eh_seu.titulo]] </h1>
        <div data-markdown> [[acreditamos.que_o_inventto_eh_seu.slides]] </div>
        <aside class="notes" data-markdown>[[acreditamos.que_o_inventto_eh_seu.porque]]</aside>
      </section>
      <section>
        <h1>Saiba mais sobre Openness</h1>
        <p>
          <a class="fragment" href="http://en.wikipedia.org/wiki/Openness">http://en.wikipedia.org/wiki/Openness</a>
        </p>
      </section>
    </section>
    <section>
      <section>
        <h1>Iniciativas</h1>
      </section>
      <section>
        <h1>[[iniciativas.grupo_de_estudo.titulo]]</h1>
        <div class="fragment" data-markdown>[[iniciativas.grupo_de_estudo.slides]]</div>
        <aside class="notes">[[iniciativas.grupo_de_estudo.porque]] </aside>
      </section>
      <section>
        <h1>[[iniciativas.estudo_diario.titulo]]</h1>
        <div class="fragment" data-markdown>[[iniciativas.estudo_diario.slides]]</div>
      </section>
      <section>
        <h1>Experimentos</h1>
        <pre><code contenteditable class="js">[[acreditamos| json]]</code></pre>
        </section>
        <section>
          <h2>Exemplos de código?</h2>
          {% raw %}
          <live-example>
          <script type="text/template" data-title="Listar inventtores">
            <code>
              function ListarInventtores($scope){
                $scope.inventtores = Inventto.inventtores;
              }
            </code>
            <div ng-controller="ListarInventtores">
              <ul>
                <li ng-repeat='(id,person) in inventtores'>
                  <img src="../img/{{ person.profile || 'homer.jpg'}}" style="width:48px;height:48px;"/>
                  {{ person.name }}
                  <a href="http://{{person.site}}" ng-if="person.site">({{person.site}})</a>
                </li>
              </ul>
            </div>
          </script>
          <script type="text/template" data-title="Detalhes da empresa">
            <code>
              function VerInventto($scope){
                $scope.inventto = Inventto;
              }
            </code>
            <div ng-controller="VerInventto">
              <h1> {{ inventto.empresa.nome}} </h1>
              <h2>Status</h2>
              <ul>
                <li>{{ Object.keys(inventto.inventtores).length}} inventtores</li>
                <li>{{ Object.keys(inventto.projetos).length }} projetos</li>
              </ul>
              <h2>Missão</h2>
              {{ inventto.empresa.missao }}
              <h2>Visão</h2>
              {{ inventto.empresa.visao }}
            </div>
          </script>
          </live-example>
          {% endraw %}
        </section>
      </section>
    <section>
      <section>
      <h1>O que fazemos?</h1>
      <small><a href="http://invent.to/2014/08/12/tipos_de_aplicativos">http://invent.to/2014/08/12/tipos_de_aplicativos//</a></small>
      </section>
      <section data-markdown>
        # Mobile Nativo

        * Android
        * Integração com backgrounds existentes
        * Funcionamento offline/sicronismo com servidor
      </section>
      <section data-markdown>
        # Web / Mobile

        * Basicamente um website que funciona no mobile
        * E também funciona para múltiplas plataformas
        * Acesso limitado as capacidades nativas de hardware e da plataforma
        * Incompatibilidade de componentes entre plataformas
        * Um código para todas plataformas

      </section>
      <section data-markdown>
        # Híbridos

        * Baixa pela loja da plataforma e roda localmente
        * Usa todo conteúdo HTML5, CSS e JS como na web mas em uma "aplicação" separada para seu código
        * Mapeia API's nativas das plataformas específicas para ser consumida por uma biblioteca única em javascript
        * Possívelmente dá para manter rodando na web como um website normal
      </section>
      <section data-markdown>
        # Embarcados

        Além de linguagens de alto nível também trabalhamos com hardware e dispositivos embarcados.

        * Integração de hardware
        * Prototipação de dispositivos
        * Escolha do hardware
        * MSP430 - linguagem C
        * Raspberry PI - linguagem Python
        * Beaglebone Black II - linguagem javascript
        * Arduino -  linguagem arduino (baseado em C e C++)
        * Android - linguagem java
      </section>
      <section data-markdown>
        # Algorítmos de processamento

        * Sem interação com o usuário
        * Apenas processam e processam
        * BIGDATA
      </section>
      <section data-markdown>
        # Hardware + Android

        * Dispositivos Bluetooth integrado a hardware externo
        * Gerenciando múltiplos dispositivos bluetooth em um único Android
      </section>
      <section data-markdown>
        # MCP2200

        * Com catracas digitais (3 marcas até o momento)
        * Com aparelhos de ginástica 
         * esteiras
         * bicicletas
         * step
         * sensor de batimento cardíaco
      </section>
      <section data-markdown>
        # MSP430

        * bluetooth e serial
        * sensores diversos: ( ópticos, pressão )
      </section>
      <section data-markdown>
        # Integração e migração entre software

        * O usuário faz a mesma coisa em dois programas
        * Gera dados duplicados
        * Ou ainda não quer que exista a ação em dois softwares
      </section>
    </section>
    <section>
      <section data-markdown>
        # Nosso ferramental

        As escolhas certas fazem toda diferença para o sucesso do projeto.
      </section>
      <section data-markdown>
        # Linguagens

        * Ruby, Javascript, Java
        * Shell, Python, C, C++ e C#
      </section>
      <section data-markdown>
        # Frameworks

        * Rails
        * Angular.js
        * Grunt
        * Yeoman
        * Marketcetera
        * Coffeescript
        * Twitter Bootstrap e Foundation
      </section>
      <section data-markdown>
        # Aprendendo

        * Elixir, Lua, Go, R, C
        * Meteor.js
        * Track.js, Polymer.js
      </section>

    </section>
    <section>
      <h1>Obrigado!</h1>
      <p>&nbsp;</p>
      <p>
        <small><a href="http://invent.to/jonatas">[[ inventtores.jonatas.nome ]]</a>( <a href="http://twitter.com/jonatasdp">@jonatasdp</a> )  </small>
      </p>
      <p><a href="http://invent.to">http://invent.to</a> | <a href="http://ideia.me">http://ideia.me</a></p>
    </section>
  </div>
</div>

