---
layout: default
---
<div class="post">

<div class="bgverde">
		<img src="/img/white.png"/>


    <h1 style="font-weight:bold;">{{ page.title }}</h1>

 
</div>
   
 
	  <div class="bgbranco">

		  <article class="post-content">
		  {{ content }}		    
		  </article>

  <div class="social">
	    <ul id="horizontal-list">

	      <li><span><div class="fb-like" data-href="https://www.facebook.com/pages/Inventto/100538040118577" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></span></li>


	      <li><span><a href="https://twitter.com/share" class="twitter-share-button" data-via="invent_to">Tweet</a></span></li>
	      <li><span><p><g:plusone size="medium"></g:plusone></p></span></li>  

	    </ul>
  </div>


	  </div>
</div>


